/* You can add global styles to this file, and also import other style files */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

body {
  margin: 0px !important;
  height: 100%;
}

app-root, html {
  height: 100%;
}

.col {
    flex-basis: 100%;
}

.col-25 {
    flex: 2.5;
}

.col-30 {
    flex: 3;
}

.col-40 {
    flex: 4;
}

.col-50 {
    flex: 5;
}

.col-60 {
    flex: 6;
}

.col-75 {
    flex: 7.5;
}

.col-70 {
    flex: 7;
}

.col-100 {
    flex: 10;
}

.loader {
    margin: 100px auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #1942f5, 1.8em -1.8em 0 0em rgba(25,66,245, 0.2), 2.5em 0em 0 0em rgba(25,66,245, 0.2), 1.75em 1.75em 0 0em rgba(25,66,245, 0.2), 0em 2.5em 0 0em rgba(25,66,245, 0.2), -1.8em 1.8em 0 0em rgba(25,66,245, 0.2), -2.6em 0em 0 0em rgba(25,66,245, 0.5), -1.8em -1.8em 0 0em rgba(25,66,245, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(25,66,245, 0.7), 1.8em -1.8em 0 0em #1942f5, 2.5em 0em 0 0em rgba(25,66,245, 0.2), 1.75em 1.75em 0 0em rgba(25,66,245, 0.2), 0em 2.5em 0 0em rgba(25,66,245, 0.2), -1.8em 1.8em 0 0em rgba(25,66,245, 0.2), -2.6em 0em 0 0em rgba(25,66,245, 0.2), -1.8em -1.8em 0 0em rgba(25,66,245, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(25,66,245, 0.5), 1.8em -1.8em 0 0em rgba(25,66,245, 0.7), 2.5em 0em 0 0em #1942f5, 1.75em 1.75em 0 0em rgba(25,66,245, 0.2), 0em 2.5em 0 0em rgba(25,66,245, 0.2), -1.8em 1.8em 0 0em rgba(25,66,245, 0.2), -2.6em 0em 0 0em rgba(25,66,245, 0.2), -1.8em -1.8em 0 0em rgba(25,66,245, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(25,66,245, 0.2), 1.8em -1.8em 0 0em rgba(25,66,245, 0.5), 2.5em 0em 0 0em rgba(25,66,245, 0.7), 1.75em 1.75em 0 0em #1942f5, 0em 2.5em 0 0em rgba(25,66,245, 0.2), -1.8em 1.8em 0 0em rgba(25,66,245, 0.2), -2.6em 0em 0 0em rgba(25,66,245, 0.2), -1.8em -1.8em 0 0em rgba(25,66,245, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(25,66,245, 0.2), 1.8em -1.8em 0 0em rgba(25,66,245, 0.2), 2.5em 0em 0 0em rgba(25,66,245, 0.5), 1.75em 1.75em 0 0em rgba(25,66,245, 0.7), 0em 2.5em 0 0em #1942f5, -1.8em 1.8em 0 0em rgba(25,66,245, 0.2), -2.6em 0em 0 0em rgba(25,66,245, 0.2), -1.8em -1.8em 0 0em rgba(25,66,245, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(25,66,245, 0.2), 1.8em -1.8em 0 0em rgba(25,66,245, 0.2), 2.5em 0em 0 0em rgba(25,66,245, 0.2), 1.75em 1.75em 0 0em rgba(25,66,245, 0.5), 0em 2.5em 0 0em rgba(25,66,245, 0.7), -1.8em 1.8em 0 0em #1942f5, -2.6em 0em 0 0em rgba(25,66,245, 0.2), -1.8em -1.8em 0 0em rgba(25,66,245, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(25,66,245, 0.2), 1.8em -1.8em 0 0em rgba(25,66,245, 0.2), 2.5em 0em 0 0em rgba(25,66,245, 0.2), 1.75em 1.75em 0 0em rgba(25,66,245, 0.2), 0em 2.5em 0 0em rgba(25,66,245, 0.5), -1.8em 1.8em 0 0em rgba(25,66,245, 0.7), -2.6em 0em 0 0em #1942f5, -1.8em -1.8em 0 0em rgba(25,66,245, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(25,66,245, 0.2), 1.8em -1.8em 0 0em rgba(25,66,245, 0.2), 2.5em 0em 0 0em rgba(25,66,245, 0.2), 1.75em 1.75em 0 0em rgba(25,66,245, 0.2), 0em 2.5em 0 0em rgba(25,66,245, 0.2), -1.8em 1.8em 0 0em rgba(25,66,245, 0.5), -2.6em 0em 0 0em rgba(25,66,245, 0.7), -1.8em -1.8em 0 0em #1942f5;
    }
  }
  @keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #1942f5, 1.8em -1.8em 0 0em rgba(25,66,245, 0.2), 2.5em 0em 0 0em rgba(25,66,245, 0.2), 1.75em 1.75em 0 0em rgba(25,66,245, 0.2), 0em 2.5em 0 0em rgba(25,66,245, 0.2), -1.8em 1.8em 0 0em rgba(25,66,245, 0.2), -2.6em 0em 0 0em rgba(25,66,245, 0.5), -1.8em -1.8em 0 0em rgba(25,66,245, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(25,66,245, 0.7), 1.8em -1.8em 0 0em #1942f5, 2.5em 0em 0 0em rgba(25,66,245, 0.2), 1.75em 1.75em 0 0em rgba(25,66,245, 0.2), 0em 2.5em 0 0em rgba(25,66,245, 0.2), -1.8em 1.8em 0 0em rgba(25,66,245, 0.2), -2.6em 0em 0 0em rgba(25,66,245, 0.2), -1.8em -1.8em 0 0em rgba(25,66,245, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(25,66,245, 0.5), 1.8em -1.8em 0 0em rgba(25,66,245, 0.7), 2.5em 0em 0 0em #1942f5, 1.75em 1.75em 0 0em rgba(25,66,245, 0.2), 0em 2.5em 0 0em rgba(25,66,245, 0.2), -1.8em 1.8em 0 0em rgba(25,66,245, 0.2), -2.6em 0em 0 0em rgba(25,66,245, 0.2), -1.8em -1.8em 0 0em rgba(25,66,245, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(25,66,245, 0.2), 1.8em -1.8em 0 0em rgba(25,66,245, 0.5), 2.5em 0em 0 0em rgba(25,66,245, 0.7), 1.75em 1.75em 0 0em #1942f5, 0em 2.5em 0 0em rgba(25,66,245, 0.2), -1.8em 1.8em 0 0em rgba(25,66,245, 0.2), -2.6em 0em 0 0em rgba(25,66,245, 0.2), -1.8em -1.8em 0 0em rgba(25,66,245, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(25,66,245, 0.2), 1.8em -1.8em 0 0em rgba(25,66,245, 0.2), 2.5em 0em 0 0em rgba(25,66,245, 0.5), 1.75em 1.75em 0 0em rgba(25,66,245, 0.7), 0em 2.5em 0 0em #1942f5, -1.8em 1.8em 0 0em rgba(25,66,245, 0.2), -2.6em 0em 0 0em rgba(25,66,245, 0.2), -1.8em -1.8em 0 0em rgba(25,66,245, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(25,66,245, 0.2), 1.8em -1.8em 0 0em rgba(25,66,245, 0.2), 2.5em 0em 0 0em rgba(25,66,245, 0.2), 1.75em 1.75em 0 0em rgba(25,66,245, 0.5), 0em 2.5em 0 0em rgba(25,66,245, 0.7), -1.8em 1.8em 0 0em #1942f5, -2.6em 0em 0 0em rgba(25,66,245, 0.2), -1.8em -1.8em 0 0em rgba(25,66,245, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(25,66,245, 0.2), 1.8em -1.8em 0 0em rgba(25,66,245, 0.2), 2.5em 0em 0 0em rgba(25,66,245, 0.2), 1.75em 1.75em 0 0em rgba(25,66,245, 0.2), 0em 2.5em 0 0em rgba(25,66,245, 0.5), -1.8em 1.8em 0 0em rgba(25,66,245, 0.7), -2.6em 0em 0 0em #1942f5, -1.8em -1.8em 0 0em rgba(25,66,245, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(25,66,245, 0.2), 1.8em -1.8em 0 0em rgba(25,66,245, 0.2), 2.5em 0em 0 0em rgba(25,66,245, 0.2), 1.75em 1.75em 0 0em rgba(25,66,245, 0.2), 0em 2.5em 0 0em rgba(25,66,245, 0.2), -1.8em 1.8em 0 0em rgba(25,66,245, 0.5), -2.6em 0em 0 0em rgba(25,66,245, 0.7), -1.8em -1.8em 0 0em #1942f5;
    }
  }
  